name: Makefile CI

on:
  push:
    branches: [ "main" ]
  schedule:
    - cron: '0 13 * * *'

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v6
    
    - name: Python cached pip
      uses: actions/cache@v5
      with:
        # This path is specific to Ubuntu
        path: ~/.cache/pip
        # Look to see if there is a cache hit for the corresponding requirements file
        key: ${{ runner.os }}-pip-${{ hashFiles('requirements.txt') }}
        restore-keys: |
          ${{ runner.os }}-pip-
          ${{ runner.os }}-

    - name: Install dependencies
      run: pip install -r requirements.txt
      
    - name: Update ics
      run: make ics/*
      
    - uses: stefanzweifel/git-auto-commit-action@v7
